.navbar {
  font-family: 'Wendy One';
  font-size: 18px;
  padding-right: 1em;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.5);
  color: #636363;
}

.navbar-brand {
  font-family: 'Wendy One';
  font-size: 28px;
  color: #464646;
}

.navbar-toggler {
  color: #636363;

}

.nav-link {
  text-align: right;
  color: #636363;
}

footer {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: auto;
  color: #636363;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones and tablets: */
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

body {
  font-family: 'Wendy One';
  font-size: 22px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  background: url("https://images.unsplash.com/photo-1559239115-ce3eb7cb87ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1088&q=80") no-repeat center;
  background-size: cover;
}

.form-control {
  font-family: 'Wendy One';
  height: 40px;
  box-shadow: none;
  color: #969fa4;
}

.form-control:focus {
  border-color: #5cb85c;
}

.form-control,
.btn {
  background-color: rgba(178, 223, 217, 0.6);
  border-radius: 3px;
  border-radius: 15px;
}

.script-form {
  width: 800px;
  float: right;
  margin-top: 80px;
  padding: 30px 0;
  font-size: 15px;
  position: relative;
  text-align: center;
}

.script-form h1 {
  font-family: 'Wendy One';
  color: white;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
  background: #65c5c0;
  border-radius: 12px;
}

.script-form h1:hover {
  color: white;
  background: #464646;;
  border-radius: 12px;
}

.script-form form {
  font-family: 'Wendy One';
  border-radius: 3px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 25px;
}

.script-form .form-group {
  margin-bottom: 20px;
}

.script-form .btn {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  width: 160px;
  outline: none !important;
  background: #65c5c0;
  color: white;
  border-radius: 18px;
}

.script-form .row div:first-child {
  padding-right: 10px;
}

.script-form .row div:last-child {
  padding-left: 10px;
}

.text-center {
  color: #636363;
}

.contents {
  position: relative;
  top: 30px;
  font-size: 60px !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  color: white;
  width: 400px;
  line-height: 100px !important;
  opacity: 0.2;
}

label {
  font-size: 20px;
}

section {
  margin:  5px auto;
  width:  45%;
  text-align: center;
  flex-direction: row;
  margin-bottom: 15px;
}

.fp-script-box {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  background-color: #D9E4DD;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 2%;
}

.date {
  text-align: left;
}

.genre {
  text-align: right;
}

.title {
  text-align: left;
}

.blurb {
  text-align: left;
}

.readmore {
  text-align: left;
}

.author {
  text-align: right;
}

.commenter {
  text-align: left;
}

.comment-date {
  text-align: right;
}

.comment-block {
  border-radius: 10px 10px 0px 10px;
  border-style: solid;
  border-width: 2px;
  background-color: #D9E4DD;
  padding: 2%;
}

.child-block {
  border-radius: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 2px;
  background-color: #FBF7F0;
  padding: 2%;
}
